<style>

body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#e6f2ff;
}

header{
    background:#005b96;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    background:#03396c;
    text-align:center;
    padding:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

main{
    padding:20px;
}

section{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
}

img{
    width:400px;
    border-radius:10px;
    display:block;
    margin:auto;
}

table{
    width:100%;
    border-collapse:collapse;
}

table, th, td{
    border:1px solid gray;
}

th, td{
    padding:10px;
    text-align:center;
}

th{
    background:#b3d9ff;
}

footer{
    background:#03396c;
    color:white;
    text-align:center;
    padding:15px;
}

</style>
